.main {
    width: 80vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 80%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
}

nav img {
    width: auto;
    height: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav div {
    display: flex;
    align-items: center;
    width: 25%;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #570206;
    margin-top: 10px;
    text-align: center;
}

.item_container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn_section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.btn_section button  {
    background-color: white;
    border: none;

    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #570206;
    text-align: center;

}

.btn_section h3{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #570206;
    text-align: center;
}

.Reset button{
    background-color: white;
    border: none;

    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #570206;
    text-align: center;
}

.Reset{
    display: flex;
    justify-content: center;
}